<%- partial('navbar.ejs') %>

<div class="hero-unit">
  <h1>
    Our Awesome Plants:
  </h1>
</div>

<div class="row-fluid">
  <div class="span8">
    <div>
      <h2>
        Current Plants
      </h2>

    <ul>
      <% for (var i = 0; i < plants.length; i++) { %>
        <li>
          <a href="/plant/<%=plants[i]%>">
            <%= plants[i] %>
          </a>
          <form action="/delete_plant" method="post" style="display:inline-block;">
            <input name="plant_username" type="hidden" value="<%=plants[i]%>">
            <input type="submit" value="Delete Plant" style="background:red;color:white">
          </form>
        </li>
      <% } %>
    </ul>

  </div>
</div>

 <%- partial('footer.ejs') %>
 
