<%- partial('navbar.ejs') %>

<div class="hero-unit">
  <h1>
    Our Awesome Users:
  </h1>
</div>

<div class="row-fluid">
  <div class="span8">
    <div>
      <h2>
        Current users
      </h2>

    <div class="error" style="background:green; color:white">
      <%= additionalMessage %>
    </div>

    <ul>
      <% for (var i = 0; i < users.length; i++) { %>
        <li>
          <a href="/user/<%=users[i]%>">
            <%= users[i] %>
          </a>
          <form action="/delete_user" method="post" style="display:inline-block;">
            <input name="username" type="hidden" value="<%=users[i]%>">
            <input type="submit" value="Delete User" style="background:red;color:white">
          </form>
        </li>
      <% } %>
    </ul>

  </div>
</div>

 <%- partial('footer.ejs') %>
 
