<%- partial('standard_topbar.ejs') %>

<div class="content-padded">

<h1 style="padding:10px;">
    Our Awesome Users:
</h1>


<ul class="list inset">
  <% for (var i = 0; i < users.length; i++) { %>
    <li>
      <a href="/user/<%=users[i]%>">
        <strong>
          <%= users[i] %>
        </strong>
        <span class="chevron"></span>
      </a>

      <div style="display:none">
        <form action="/delete_user" method="post" style="display:inline-block;">
          <input name="username" type="hidden" value="<%=users[i]%>">
          <input type="submit" value="Delete User" style="background:red;color:white">
        </form>
      </div>

    </li>
  <% } %>
</ul>

 <%- partial('footer.ejs') %>
 
