<%- partial('standard_topbar.ejs') %>

<div class="content-padded">

  <h1>
    <%= name %>
  </h1>


<h2> Plants this user owns: </h2>

<ul class="list inset">
  <% for (var i = 0; i < data.plants.length; i++) { %>
    <li>
      <a href="/plant/<%=data.plants[i].username%>">
        <%= data.plants[i].name %>
      </a>
      <span class="chevron"></span>
    </li>
  <% } %>
</ul>

<h2> Make a plant for this user </h2>

<form id="make_plant_form" action="/make_plant" method="post">
  <div class="input-group">
    <input name="owner" type="hidden" value="<%=username%>">
    <input name="name" type="text" placeholder="Name of Plant">
  </div>
</form>

<div id="makebutton" class="button-main button-block">Make Plant</div>

  <p> Data </p>
  <p>
    <%= dataString %>
  </p>


<form id="delete_form" action="/delete_user" method="post">
  <div class="input-group">
    <input name="username" type="hidden" value="<%=username%>">
  </div>
</form>

<div id="deletebutton" class="button-negative button-block">Delete User</div>


</div>

<%- partial('standard_footer.ejs') %>
 