<header class="bar-title">
  <a class="button-prev" href="/listusers" data-transition="slide-out">
  Users
  </a>
  <h1 class="title">GreenThumb</h1>
</header>

<div class="content"> 


<div class="content-padded">

  <h1>
    <%= name %>
  </h1>


<h2> Plants this user owns: </h2>

<ul class="list inset">
  <% for (var i = 0; i < data.plants.length; i++) { %>
    <li>
      <a href="/plant/<%=data.plants[i].username%>" data-transition="slide-in">
        <%= data.plants[i].name %>
      </a>
      <span class="chevron"></span>
    </li>
  <% } %>
</ul>

<h2> Make a plant for this user </h2>

<form id="make_plant_form_<%=username%>" action="/make_plant" method="post">
  <div class="input-group">
    <input name="owner" type="hidden" value="<%=username%>">
    <input name="name" type="text" placeholder="Name of Plant">
  </div>
</form>

<div id="makebutton" data-owner="<%=username%>" class="button-main button-block">Make Plant</div>

<% if (data.limitTexts) { %>
  <div id="toggleTextButton" data-username="<%=username%>" data-value="false" class="button-positive button-block">Turn off text limiting </div>
<% } else { %>
  <div id="toggleTextButton" data-username="<%=username%>" data-value="true" class="button-positive button-block">Limit Text Rate</div>
<% } %>

<p> Data </p>
<p>
  <%= dataString %>
</p>

<form id="delete_form_<%=username%>" action="/delete_user" method="post">
  <div class="input-group">
    <input name="username" type="hidden" value="<%=username%>">
  </div>
</form>

<div id="deletebutton" data-owner="<%=username%>" class="button-negative button-block">Delete User</div>

</div>

<%- partial('standard_footer.ejs') %>
 