<header class="bar-title">
  <a class="button-prev" href="/listplants" data-transition="slide-out">
  Plants
  </a>
  <h1 class="title">GreenThumb</h1>
  <a class="button-next" href="/data_view/<%=username%>" data-ignore="push">
  Data View
  </a>
</header>

<div class="content"> 
<div class="content-padded">

<h1>
	Plant: <%= name %>
</h1>

<p>
  <%= dataString %>
</p>

<form id="plantDeleteForm_<%=username%>" action="/delete_plant" method="post" style="display:none;">
	<input name="plant_username" type="hidden" value="<%=username%>">
</form>

<% if (!data.needsWater) { %>
	<p style="margin:20px">
		<div id="dryPlantButton"
		data-username="<%=username%>" 
		data-owner="<%=data.owner%>"
		class="button-positive button-block">
			Pretend Plant is dry (and text owner)
		</div>
	</p>
<% } else { %>
	<p style="margin:20px">
		<div id="dryPlantButton"
		data-username="<%=username%>" 
		data-owner="<%=data.owner%>"
		class="button-positive button-block" style="opacity:0.7">
			Plant is Already Dry (re-text owner)
		</div>
	</p>
<% } %>

<% if (!data.shouldWater) { %>
	<p style="margin:20px">
		<div id="dryPlantButton"
		data-username="<%=username%>" 
		data-owner="<%=data.owner%>"
		class="button-main button-block">
			Water Plant
		</div>
	</p>
<% } else { %>
	<p style="margin:20px">
		<div class="button-main button-block" style="opacity:0.7">
			Plant Scheduled for Water
		</div>
	</p>
<% } %>


<p style="margin:20px">
	<div id="deletePlantButton" data-owner="<%=username%>" class="button-negative button-block">
		Delete Plant
	</div>
</p>

</div>
<%- partial('standard_footer.ejs') %>
